The parameters for updating exchanges are:
    components: [{{exchangeParams.components}}]
    exchanges: [{{exchangeParams.values}}]

The parameters for updating maxTradeSizes are:
    components: [{{maxTradeSizeParams.components}}]
    maxTradeSizes: [{{maxTradeSizeParams.values}}]

The parameters for updating coolOffPeriods are:
    components: [{{coolOffPeriodParams.components}}]
    coolOffPeriods: [{{coolOffPeriodParams.values}}]

The parameters for startRebalance are as follows:
    newComponents: [{{rebalanceParams.newComponents}}]
    newComponentsTargetUnits: [{{rebalanceParams.newComponentUnits}}]
    oldComponentsTargetUnits: [{{rebalanceParams.oldComponentUnits}}]
    positionMultiplier: {{rebalanceParams.positionMultiplier}}

Trade Order is: {{tradeOrder}}

Trade Stats by components is as follows:
    {{#each summary}}
    {{this.asset}}:
        currentUnit: {{this.currentUnit}}
        newUnit: {{this.newUnit}}
        notionalInToken: {{this.notionalInToken}}
        notionalInUSD: {{this.notionalInUSD}}
        tradeNumber: {{this.tradeNumber}}
    {{/each}}